name: Benchmarks

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
  schedule:
    - cron: '12 13 * * 1' # Weekly on Mondays at 13:12 UTC

env:
  skip_slow: ${{ github.ref != 'refs/heads/main' }}

concurrency:
  group: '${{ github.workflow }}@${{ github.ref }}'
  cancel-in-progress: true

jobs:
  mac_bench:
    runs-on: macos-latest
    env:
      HOMEBREW_NO_AUTOREMOVE: 1
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - name: Run information
        run: |
          echo skip_slow=${{ env.skip_slow }}
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: brew update --quiet && brew install --quiet hyperfine
      - name: Install `tealdeer` (https://github.com/tealdeer-rs/tealdeer)
        run: |
          brew install --skip-link --no-binaries --force --quiet tealdeer
          ln -s $(brew --prefix)/Cellar/tealdeer/*/bin/tldr ./tealdeer
          echo "TEALDEER_CACHE_DIR,tealdeer" >> command_list.csv
      - name: Install `tlrc` (https://github.com/tldr-pages/tlrc)
        run: |
          brew install --skip-link --no-binaries --force --quiet tlrc
          ln -s $(brew --prefix)/Cellar/tlrc/*/bin/tldr ./tlrc
          echo "TLDR_CACHE_DIR,tlrc" >> command_list.csv
      - name: Install `tldr-bash` (https://github.com/ewels/tldr-bash)
        run: |
          curl --silent --output ./tldr-bash https://raw.githubusercontent.com/raylee/tldr/master/tldr
          chmod +x ./tldr-bash
          echo "XDG_DATA_HOME,tldr-bash" >> command_list.csv
      - name: Install `tldr-node-client` (https://github.com/tldr-pages/tldr-node-client)
        if: ${{ env.skip_slow == 'false' }}
        run: |
          npm install -g tldr
          ln -s $(realpath $(which tldr)) ./tldr-node-client
          rm -f $(which tldr)
          echo "HOME,tldr-node-client" >> command_list.csv
      - name: Install `tldr-python-client` (https://github.com/tldr-pages/tldr-python-client)
        run: |
          pip install tldr
          mv $(which tldr) ./tldr-python-client
          echo "HOME,tldr-python-client" >> command_list.csv
      - name: Install `fast-tldr` (https://github.com/gutjuri/fast-tldr)
        if: ${{ env.skip_slow == 'false' }}
        run: |
          curl -sSL https://get.haskellstack.org/ | sh
          git clone --quiet --depth 1 https://github.com/gutjuri/fast-tldr.git fast-tldr-repo
          cd fast-tldr-repo
          stack install --local-bin-path . > /dev/null
          mv tldr ../fast-tldr
          cd ..
          echo "XDG_DATA_HOME,fast-tldr" >> command_list.csv
      - name: Install `outfieldr` (https://gitlab.com/ve-nt/outfieldr)
        if: false # outfieldr depends on zig 0.9.1 which is broken on Mac M* chips.
        run: |
          git clone --quiet --depth 1 https://gitlab.com/ve-nt/outfieldr outfieldr-repo
          cd outfieldr-repo
          git submodule update --init
          wget --quiet https://ziglang.org/download/0.9.1/zig-macos-aarch64-0.9.1.tar.xz
          tar -xf zig-macos-aarch64-0.9.1.tar.xz
          ./zig-macos-aarch64-0.9.1/zig build -Drelease-safe
          cd ..
          cp outfieldr-repo/bin/tldr ./outfieldr
          echo "HOME,outfieldr" >> command_list.csv
      - name: Update caches and run benchmark
        if: ${{ !cancelled() }}
        run: ./scripts/run_benchmarks 'sync && sudo purge'
      - name: Upload test information
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: mac_bench_results
          path: export/*
  ubuntu_bench:
    runs-on: ubuntu-latest
    steps:
      - name: Run information
        run: |
          echo skip_slow=${{ env.skip_slow }}
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get -qq update && sudo apt-get install -yqq hyperfine
      - name: Install `tldr-hs` (https://github.com/psibi/tldr-hs)
        run: |
          sudo apt-get install -yqq tldr-hs
          ln -s $(realpath $(which tldr)) ./tldr-hs
          sudo rm -f $(which tldr)
          echo "XDG_DATA_HOME,tldr-hs" >> command_list.csv
      - name: Install `tealdeer` (https://github.com/tealdeer-rs/tealdeer)
        run: |
          sudo apt-get install -yqq tealdeer
          sudo mv $(which tldr) ./tealdeer
          echo "TEALDEER_CACHE_DIR,tealdeer" >> command_list.csv
      - name: Install `tldr-bash` (https://github.com/ewels/tldr-bash)
        run: |
          curl --silent -o ./tldr-bash https://raw.githubusercontent.com/raylee/tldr/master/tldr
          chmod +x ./tldr-bash
          echo "XDG_DATA_HOME,tldr-bash" >> command_list.csv
      - name: Install `tldr-node-client` (https://github.com/tldr-pages/tldr-node-client)
        if: ${{ env.skip_slow == 'false' }}
        run: |
          npm install -g tldr
          ln -s $(realpath $(which tldr)) ./tldr-node-client
          sudo rm -f $(which tldr)
          echo "HOME,tldr-node-client" >> command_list.csv
      - name: Install `tldr-python-client` (https://github.com/tldr-pages/tldr-python-client)
        run: |
          sudo pip install tldr
          sudo mv $(which tldr) ./tldr-python-client
          echo "HOME,tldr-python-client" >> command_list.csv
      - name: Update caches and run benchmark
        if: ${{ !cancelled() }}
        run: ./scripts/run_benchmarks 'sync; echo 3 | sudo tee /proc/sys/vm/drop_caches > /dev/null'
      - name: Upload test information
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: ubuntu_bench_results
          path: export/*
  generate_readme:
    runs-on: ubuntu-latest
    needs: [mac_bench, ubuntu_bench]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Download test information
        uses: actions/download-artifact@v4
        with:
          name: mac_bench_results
          path: mac
      - name: Download test information
        uses: actions/download-artifact@v4
        with:
          name: ubuntu_bench_results
          path: ubuntu
      - name: Generate README
        run: |
          ruby generate_readme.rb \
            mac/hyperfine_tar.json    mac/hyperfine_update.json    mac/update_times.csv \
            ubuntu/hyperfine_tar.json ubuntu/hyperfine_update.json ubuntu/update_times.csv
      - uses: EndBug/add-and-commit@v9
        if: github.event_name != 'pull_request'
        with:
          add: README.md
          author_name: Ulysse Buonomo
          author_email: buonomo.ulysse@gmail.com
          committer_name: GitHub Actions
          committer_email: actions@github.com
          message: 'auto: update benchmarks'
      - name: Print README and diff to Github Summary
        if: github.event_name == 'pull_request'
        run: |
          cat README.md >> $GITHUB_STEP_SUMMARY
          echo >> $GITHUB_STEP_SUMMARY
          echo '```diff' >> $GITHUB_STEP_SUMMARY
          git --no-pager diff >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
